<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <form action="/user/add" method="post">
        <label for="">Id</label>
        <input type="text" name="id" placeholder="Enter Id"><br>
        <label for="">name</label>
        <input type="text" name="name" placeholder="Enter name"><br>
        <label for="">place</label>
        <input type="text" name="place" placeholder="Enter place"><br>

        <button type="submit">Save User</button>
    </form>
</body>
</html>